<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('列表')" />
</head>
<body class="gray-bg">

     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								提款密码：<input type="password" name="withdrawalPassword"/>
							</li>

							<li>
								谷歌校验密钥：<input type="text" name="googleSecret"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="merchantAccount:mpMerchantSetting:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('merchantAccount:mpMerchantSetting:edit')}]];
        var prefix = ctx + "merchantAccount/setting";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "账户设置",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id',
					title : '标识',
					visible: false
				},
				{
					field : 'name',
					title : '商户名称',
				},
                {
                    field : 'code',
                    title : '商户编码',
                },
				{
                    field : 'secretKey',
                    title : '商户秘钥',
                },
				{
					field : 'googleSecret',
					title : '谷歌校验密钥',
					sortable: true,
					formatter: function (value, row, index) {
						return "<a onclick='QRcode(this)'>"+value+"</a>"
					}
				},
				// {
				// 	field : 'mchWithdrawalRule',
				// 	title : '提现规则',
				// 	sortable: true,
				// 	formatter: function (value, row, index) {
				// 		if(value == "1"){
				// 			return "<span>渠道优先级</span>"
				// 		}
				// 		if (value == "2") {
				// 			return "<span>渠道余额大小</span>"
				// 		}
				// 	}
				// },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

       function QRcode(v) {
     		var secret = $(v).html();
			   layer.open({
				   type: 2,
				   title: '二维码',
				   // maxmin: true,
				   shadeClose: true, //点击遮罩关闭层
				   area : ['200px' , '250px'],
				   content: ctx + 'tool/googleCode/createQRcode?userId=首信易系统-'+[[${username}]]+'&secret=' + secret
			   });
	   }
    </script>
</body>
</html>
