<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-merchantIp-add">
			<input type="hidden" id="merchantId" name="merchantId" th:value="${merchant.id}">
			<div class="form-group">	
				<label class="col-sm-3 control-label">IP：</label>
				<div class="col-sm-8">
					<input id="ip" name="ip" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "merchant/merchantIp";
		$("#form-merchantIp-add").validate({
			rules:{
                ip:{
                    remote:{
                        url:prefix + "/checkMerchantIpUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "merchantId":function () {
                                return $.common.trim($("#merchantId").val());
                            },
                            "ip":function () {
                                return $.common.trim($("#ip").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                }
			},
            messages: {
                "ip": {
                    remote: "该渠道已添加该IP地址"
                }
            },
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-merchantIp-add').serialize());
	        }
	    }
	</script>
</body>
</html>
